/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-TextButton {
  background:#428bca;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


/*forum style*/

.titlePanel{
	background: #5cb85c;
	border-bottom:solid 1px #BBBBBB;
}
.titleTopic{
	font-weight: bold;
	color:white;
	background: #5cb85c;
	padding:6px;
	border-bottom:solid 1px #BBBBBB;
	
}

.panel-heading{
	font-weight: bold;
}

.messagePanel tbody tr td{
	padding:20px;
	
}
/*forum in options*/
.commentOption{
	height:25px;
}
.optionPanel tbody tr td{
	padding:4px;
}
.optionPanel tbody tr td tbody tr td{
	padding:8px;
}
/*forum info*/
.commentInfo{
	font-weight: bold;
	padding:3px;
	border:solid 1px #BBBBBB;
}
.infoPanel{
	border-bottom:solid 1px #BBBBBB;
	font-weight: bold;
}
.infoPanel .gwt-Hyperlink{
	padding:4px;
}
.infoPanel span{
	padding:4px;
}
.controlPanel{
	border: 1px #BBBBBB solid;
    border-radius: 25px;
}

.commentpanel tbody tr {
}
/*tables*/
table thead{
	background:#a3d781;
	color:#284315;
	border-color:#79c447;
}
celltable tbody tr{
	border:solid 1px #284315;
}

.panel-body{
	padding-bottom:10px
}

/*recovery*/
.controlgroup table tbody tr td{
	padding:4px;
}
/*metrics*/
