/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #646567;
	margin: 40px 0px 70px;
	text-align: center;
}
a,a:link,a:visited, a:hover, a:active{    
	color: #d6092c;
    text-decoration: none;
    cursor: auto;
}

input, select, input:focus, select:focus{
	border-color: #d6092c;
    background: #fff;
    font-size: 16px;
    color:#333;
}

.gwt-Hyperlink {
    color: #d6092c;
    text-decoration: none;
}
.sendButton {
	display: block;
	font-size: 16pt;
}

.body {
	/*background: #ffffff url("assets/img/wallpaper/wallpaper.png") no-repeat right top;*/
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-TextButton {
	color: #d6092c;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/*init page*/
.beginpaper {
	background: #ffffff url("assets/img/wallpaper/home.png") no-repeat right top;
}
/*forum style*/
.titlePanel {
	background: #5cb85c;
	border-bottom: solid 1px #333;
}

.titleTopic {
	font-weight: bold;
	color: white;
	background: #5cb85c;
	padding: 6px;
	border-bottom: solid 1px #333;
}

.panel-heading {
	font-weight: bold;
}

.messagePanel tbody tr td {
	padding: 20px;
}
/*forum in options*/
.commentOption {
	height: 25px;
}

.optionPanel tbody tr td {
	padding: 4px;
}

.optionPanel tbody tr td tbody tr td {
	padding: 8px;
}
/*forum info*/
.commentInfo {
	font-weight: bold;
	padding: 3px;
	border: solid 1px #333;
}

.infoPanel {
	border-bottom: solid 1px #333;
	font-weight: bold;
}

.infoPanel .gwt-Hyperlink {
	padding: 4px;
}

.infoPanel span {
	padding: 4px;
}

.controlPanel {
	border: 1px #BBBBBB solid;
	border-radius: 25px;
}

.commentpanel tbody tr {
	
}
/*tables*/
table thead {
	background: #f0f0f0;
	color: white;
	border-color: #d6092c;
}

celltable tbody tr {
	border: solid 1px #d6092c;
}

.panel-body {
	padding-bottom: 10px
}

/*recovery*/
.controlgroup table tbody tr td {
	padding: 4px;
}
/*metrics*/
/*breadcrumbs*/
.breadcrumb {
	padding: 5px;
	border:none;
}

.breadcrumb tbody {
	background: #d6092c;
	border: solid #d6092c;
}

.breadcrumb tbody tr td div a {
	padding: 8px;
	color: white;
    font-family: Roboto,sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	margin: 0 0 24px;
	text-align: center;
}
/*signup page*/
/*popups*/
/*icons */
/*buttons*/
.mybuttonstyle{
    background-color: #d6092c;
    color: #fff;
    border: none;
    padding: 8px 13px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.buttonAdd{
	height:22px;
	width:22px;
    background: /assets/img/tables/add.png;
    border: none;
}


