@media (min-width: 980px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	#main-content{
		padding-top:50px;
	}

    .inbox-wrapper .inbox-left {
        width: 30%;
    }

    .inbox-wrapper .inbox-right {
        width: 70%;
    }

}

@media (max-width: 768px) {
	
	
	#main-content{
		padding-top:50px;
	}

    .header {
        position: absolute;
    }
    /*---------*/

    .btn {
        margin-bottom: 5px;
    }


    .inbox-wrapper aside {
        display: block;
    }

    .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
        width: 100% ;
    }

    /* full calendar fix */
    


}


@media (max-width: 740px) {
	
    #task_notificatoin_bar,#mail_notificatoin_bar,#alert_notificatoin_bar{
        display: none;
    }
    
    #GWTmenu{
    	padding-top: 0px;
    }
}

@media (max-width: 480px) {
	
	

    .notification-row,.task_notificatoin_bar, .search-row,.knob-charts, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
       display: block;
       align:right;
    }

    .inbox-wrapper aside {
        display: block;
    }

    .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
        width: 100% ;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }



}

@media (max-width:320px) {

    .notification-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    .inbox-wrapper aside {
        display: block ;
    }

    .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
        width: 100% ;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

}




